<html>
<head>
  <title>Food Trends</title>
  <meta name="description" content="Trends of Food Over Time">
  <meta name="author" content="Liz Berg">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script>
    update_graph = function() {
      food = $('#ingredient').val()
      img_tag = '<img src="/fig/' + food + '">'
      $('div#graph').html(img_tag)

      $.post({
        url: "/recommend",
        data: food,
        success: function(pairings){
          $("span#pairs").html("Pairs are" + pairings[0])
        }
      })
    }
  </script>
</head>

<body>

  <h1>Trending Foods</h1>

  <h3>Type an ingredient below to see its use in recipes over the years. </h3>
  <input type="text" id="ingredient">
  <button onClick="update_graph()">Submit</button>

  <hr />
    {% block content %}{% endblock %}
  <div id="graph"></div>
  <p><span id="pairs"></span></p>

</body>
</html>
